<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>$!{sysTitle}</title>
<link type="text/css" rel="stylesheet" href="$request.contextPath/css/main.css"/>
<link rel="stylesheet" type="text/css" href="$request.contextPath/css/jquery.ulightbox.css" />
<script type="text/javascript" src="$request.contextPath/js/datePicker/WdatePicker.js"></script>
<script type="text/javascript" src="$request.contextPath/js/jquery-1.5.1.min.js"></script>
</head>
<body>
	<br/><br/><br/>
		
	##<a href="itms-services://?action=download-manifest&url=https://10.100.31.94:8443/app_download/app/CCBLifeInsurance.plist" target="_blank">下载App</a>

	<form action="goDownFile.do" method="post" id="form1">
	<input type="hidden" id="pagenum" name="currentPage" value="1">
	
	</form>
	
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="main_table">
		<tr class="main_head">
			<th>序号</th>
			<th>版本标题</th>
			<th>版本号</th>
			<th>上载时间</th>
			<th>操作系统</th>
			<th>适用设备</th>
			<th>操作</th>
		</tr>
		#set($index = ($page2.currentPage - 1) * $page2.showCount)
		#foreach($appDownload in $!{appDownloadList})
			#set($index = $index + 1)
			<tr class="main_info">
				<td>$!index</td>
                <td>$!{appDownload.title}</td>
                <td>$!{appDownload.version}</td>
                <td>$!{DATETOOL.format("yyyy-MM-dd hh:mm:ss",$!{appDownload.uploadDate})}</td>
                <td>$!{appDownload.os}</td>
                <td>$!{appDownload.device}</td>
                <td>
                 	<input type="button" value="下载" style="width:70px"
                 		onclick="goDown('$!{appDownload.downloadUrl}')">
                </td>
			</tr>
		#end
	</table>
	<div class="page_and_btn">
		$!page2.pageAndBtnDIV
	</div>
	<div class="openDialog" style="display: none"></div>
	<script type="text/javascript" src="$request.contextPath/js/lhgdialog/lhgcore.min.js"></script>
	<script type="text/javascript" src="$request.contextPath/js/lhgdialog/lhgdialog.min.js"></script>
	
	<script type="text/javascript" src="$request.contextPath/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="$request.contextPath/js/jquery.ulightbox.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
   			$('.pageinfo').click(function() {
   				var currentpage = $(this).attr("data"); 
   				$("#pagenum").val(currentpage);
   				$("#form1").submit();
   			});
   			$('#resetBtn').click(function() {
   				$(".result").val("");
   			});
		});	
		
		function goDown(durl){
			if(confirm("确认下载？")){
		##		window.open("download.do?fileName="+durl);
				var url1 = "https://10.100.31.94:8443/app_download/app/";
				window.open("itms-services://?action=download-manifest&url=" + url1 + durl);
			}
		}
	</script>
</body>
</html>